langchain
langchain_community
langchain_openai
wikipedia
youtube_search
langchain_tavily
langgraph
ipython
langchain_google_genai
langchain_huggingface
sentence_transformers
pypdf
chromadb
langchain_groq
yfinance 